<nav>
  <ul>
    <li><a routerLink='home' routerLinkActive="active">{{h}}</a></li>
    <li><a routerLink='catalog' routerLinkActive="active">{{n}}</a></li>
    <li><a routerLink='cart' routerLinkActive="active">{{c}}</a></li>
    <li><a routerLink='about' routerLinkActive="active">{{a}}</a></li>
    <li><a routerLink='manageproducts' routerLinkActive="active">Manage Products</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink='profile' routerLinkActive="active">{{l}}</a></li>
    <li *ngIf="isLoggedIn"><a routerLink='userDetails' routerLinkActive="active">Profile</a></li>
    <li *ngIf="isLoggedIn"><a class="btn" routerLink='profile' routerLinkActive="active" (click)="logout()">logOut</a>
    </li>
  </ul>
</nav>